<div class="container-fluid">
        
  <div class="row"> 
    <div class="col-sm-10 col-sm-offset-2">
       <div class="breadcrumb">
         <f:cObject typoscriptObjectPath="lib.breadcrumb" />
       </div>
    </div>
  </div>
    
  
 <div class="row">  
      <div class="col-sm-5 col-sm-offset-2">
          <f:format.raw>{normal}</f:format.raw>
    </div>            
         
    <div class="col-sm-2 col-sm-offset-1">
    <div class="news">
          <img class="img-fluid" src="fileadmin/public/bilder/logo2.png"  width="80px" height="30px"></div>
               
           <div class="subNavi">
          <f:cObject typoscriptObjectPath="lib.subNavi" />
       </div>
       
             
         <f:format.raw>{rechts}</f:format.raw>
         
                   
      </div>
    
       
    </div>
   
      
</div>

