<div class="head">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="col-sm-3 col-sm-offset-2">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Navigation ein-/ausblenden</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <f:link.page pageUid="11" class="navbar-brand">WELCOME</f:link.page>
        </div>
      </div>
      <div class="col-sm-7">
        <div id="navbar" class="collapse navbar-collapse">
          <f:cObject typoscriptObjectPath="lib.navbar" />
        </div>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-sm-3 col-sm-offset-4">
      <div class="cover">
        <h1>Interaktives Webdesign mit</h1>
        <p></p>
        <img class="img-fluid" src="fileadmin/public/bilder/typo3.png" width="165px" height="70px">
        <p></p>
        <h2>Wahlpflichtveranstaltung</h2>
      </div>
    </div>
  </div>
</div>
